
body {
    color: black;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.dark {
    background-color: black;
    color: white;
}

/* Dark Theme  */
body.dark {
    background-color: black;
    color: white; 
  }
  
.dark .text-black {
    color: white;
}

.dark .text-white {
    color: black;
}

.dark .text {
    color: #9c27b0; 
}
.dark .ComboboxOptions{
    color: #1F1F1F;

}
.dark .ComboboxInput{
    color: #1F1F1F;

}
.dark .TextField{
    color: #1F1F1F;

}
